.menu-hamburguer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 40px 0 0 40px;
}

.menu-hamburguer #checkbox-menu {
    position: absolute;
    opacity: 0;
}

.menu-hamburguer label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
}

.menu-hamburguer label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 32px;
    background: white;
    transition: 0.25s ease-in-out;
}

.menu-hamburguer label span:nth-child(1) {
    top: 0;
}

.menu-hamburguer label span:nth-child(2) {
    top: 12px;
}

.menu-hamburguer label span:nth-child(3) {
    top: 24px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}