@media  (min-width: 320px), (max-width: 375px){
    .s-hero .container-hero {
        margin-top: 72px;
    }
}

@media  (min-width: 376px), (max-width: 450px) {
    .s-hero .container-hero {
        margin-top: 80px;
    }

    .s-video .container-video iframe {
        width: 300px;
        height: 200px;
    }
}

@media  (min-width: 451px), (max-width: 500px) {
    .s-hero .container-hero {
        margin-top: 120px;
    }

    .s-video .container-video iframe {
        width: 400px;
        height: 300px;
    }
}
