* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.s-hero .container-hero {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.s-hero .container-hero .title {
    text-align: center;
    padding: 8px 0;
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.038));
}

.s-hero .container-hero .img-hero img{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

section.s-about {
    margin-top: 78vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

section.s-about .container-about {
    margin-top: 32px;
    width: 95%;
}

section.s-about .container-about .title {
    text-align: center;
}

section.s-about .container-about .container-solutions {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

section.s-about .container-about .solution .sub-title{
    margin-top: 16px;
}

section.s-about .container-about .solution .informations {
    margin-top: 16px;
    text-align: center;
}

section.s-about .container-about .solution .img-produt {
    width: 100%;
    margin-top: 24px;
}

section.s-about .container-about .solution .img-produt img {
    width: 100%;
}

section.s-about .container-about .solution:nth-child(1) img {
    box-shadow: #00c6c6a8 0px 10px 20px -10px;
}

section.s-about .container-about .solution:nth-child(2) img {
    box-shadow: #00c6c6a8 0px 10px 20px -10px;
}

section.s-about .container-about .solution:nth-child(4) img {
    box-shadow: #00c6c6a8 0px 10px 20px -10px;
}

section.s-about .container-about .solution .purchase {
    margin: 72px 0;
    display: flex;
    justify-content: center;
}

section.s-about .container-about .solution .purchase a {
    padding: 12px 24px;
    border-radius: 16px;
    background-color: rgb(4, 255, 4);
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.s-video {
    background-image: linear-gradient(to top, rgb(91, 90, 90), 70%, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 32px;
}

.s-video .title {
    margin-top: 72px;
}

.s-video .container-video {
    margin-top: 16px;
}

.s-video .container-video iframe {
    border-radius: 16px;
    width: 250px;
    height: 180px;
    margin: auto;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
}

footer .container-price {
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container-price .price {
    text-align: center;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #00C6C6;
    color: black;
    border-radius: 16px;
}

footer .container-price .purchase{
    margin: 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .container-price .purchase a {
    padding: 12px 24px;
    border-radius: 16px;
    background-color: rgb(4, 255, 4);
    font-size: 20px;
    font-weight: bold;
    color: black;
}