#container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header .img-main {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header .img-main img {
    width: 100%;
    height: 60vh;
}



/* ------ NAV BURGER ------ */
#container-nav {
    display: none;
    margin-top: 16px;
    height: 100vh;
    background-color: var(--green-secund);
    opacity: 0.8;
    transition: 1s;
}

#container-nav ul {
    height: 100%;
    z-index: 1;
}

#container-nav ul li {
    border-bottom: 1px solid black;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 32px 0 32px 16px;
    border-radius: 10px;
    transition: 0.3s;
}


#container-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.564);
}

#container-nav ul li:active {
    transform: scale(0.9);
}



/* ----- MAIN ------  */
.main {
    margin-top: calc(54vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .container-main {
    width: 90%;

}

.main .container-main .title {
    text-align: center;
}

.main .container-main .title h1 {
    font-size: 18px;
}

.main .container-main .title h2 {
    font-weight: 100;
    font-size: 16px;
}



/* ------ PRODUCT ------ */
.main .product {
    width: 70%;
    margin: auto;
    margin-top: 16px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 8px 23px 33px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 23px 33px -9px rgba(0,0,0,0.5);
    box-shadow: 8px 23px 33px -9px rgba(0,0,0,0.5);
    transition: 0.1s;
    margin-bottom: 32px;
}

.main .product:hover {
    transform: scale(1.03);
}

.main .product:active {
    transform: scale(0.9);
}

.main .product a {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main .product .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main .product .img img {
    width: 80%;
}

.main .description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

#title-dispenser {
    font-size: 16px;
    color: black;
}

.main .product .value {
    text-align: center;
}

#value-product {
    font-size: 20px;
    color: black;
    font-weight: 100;   
    padding-left: 3px;
}

/* ---- Media Social ----  */
.footer {
    width: 100%;
    background-color: var(--gray-primary);
    padding: 16px 0;
}

.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer .container a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.footer .container a:active {
    transform: scale(0.9);
    transition: 0.05s;
}

.footer .container img {
    width: 50px;
}

.footer .container a:nth-child(2) img {
    width: 54px;
}